body{
	color: #4F371E;
    margin: 0;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
	font-family: 'Oswald', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.01071em;
    background-color: #fff;
}

/*Nav Code*/
nav .btn-warning{
	border-radius:40px;
	padding:10px;
	width:100%;
	font-size:15px;
	border: 1px solid transparent;
	background: white;
	height: 100%;
	color: #ffc107;
	font-weight: bold;
	margin-right:30px;
	margin-left:30px;
}
nav .img-fluid{
	width:50px;
	height:50px;
	background: transparent;
}
#logo{
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-right:30px;
	margin-left:30px;
}

/*Nav end*/



/* link start*/
a{
	color: white;
}
a:hover{
	font-weight: bolder;
	color: white;
	text-decoration: none;
}
/*Link end*/


/*Header*/
.header h2{
	font-size:30px;
	margin-top:5px;
	margin-top:40px;
}
.header h6{
	font-size:20px;
}
.header .btn-warning{
	border-radius: 50px;
	width:150px;
	margin:10px;
	color: white;
	font-weight:bold;
}
.header i{
	padding: 20px;
	margin-bottom: 5px;
	font-size: 40px;
	color: #ffc107;
}
.header #img{
	margin: 30px;
}
.header span{
	color: #ffc107;
	font-weight: bolder;
}
/*Header end*/


/*Tokenomics code*/
#tokenomics{
	margin-top:50px;
	background:#ffc107;
	padding:30px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-family: 'Oswald', sans-serif;
}
#tokenomics .h3{
	color: white;
	font-size: 40px;
	font-weight: bolder;
}
#tokenomics h3{
	font-size: 40px;
	font-weight: bolder;
}
#tokenomics h5{
	color: white;
	font-size: 25px;
	font-weight: bold;
}
#tokenomics li{
	font-size: 50px;
	margin-top: 40px;
	padding:20px;
	color: white;
}
	ul span{
		font-size:20px;
	}
@media only screen and (min-width:900px){
	#icon{
		display: none;
	}
	#icon1 i{
		font-size:50px;
		padding-top:50px;
		margin-top: 50px;
	}
	#icon1 ul{
		color: white;
		font-size:20px;
	}
}
@media only screen and (max-width:700px){
	#icon1{
		display: none;
	}
	#icon ul{
		color: white;
		font-size:20px;
	}
}
/*Tokenomics End*/